.hotel-card .swiper-pagination-bullet {
  background-color: white !important;
}

.hotel-card .swiper-pagination-bullet-active {
  background-color: var(--color-p1) !important;
}

.swiper-slide {
  height: auto !important;
}

.hotel-card-img-slider-radius {
  border-radius: 1.9rem !important;
}
